/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
/* styles */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}
